* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding-bottom: 10px;
}

.search {
    color: lightslategray;
}

.ri-search-line {
    font-size: 20px;
    padding-left: 100px;
}

.head {
    /* background: pink; */
    /* height: 200px; */
    /* width: 355px; */
}

.bell {
    color: lightslategray;
    font-size: 20px;
    background: rgb(243, 242, 242);
    border-radius: 10px;
    padding: 5px;
}

.container {
    display: flex;
    background: rgb(243, 242, 242);
}

.side {
    width: 15rem;
    margin-top: 1px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
}

.main {
    background: rgb(243, 242, 242);
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.main-contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.100fr;
    gap: 25px;
}

.percent p {
    color: green;
    background: rgb(192, 252, 192);
    padding: 1px;
    border-radius: 10px;
    font-size: 13px;
}

.percent2 p {
    color: rgb(248, 27, 27);
    background: pink;
    padding: 1px;
    border-radius: 10px;
    font-size: 13px;
}

.para {
    font-size: 14px;
    color: lightslategray;
}

.box {
    background: white;
    padding: 10px;
}

.box h1 {
    font-size: 15px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.box h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.chart {
    background: white;
    height: 300px;
    margin-top: 25px;
    padding: 20px;
}

.employees {
    display: flex;
    flex-direction: row;
    background: red;
    gap: 20px;
    width: 67rem;
    height: 250px;
    margin-top: 30px;
}

.status {
    width: 45rem;
    height: 250px;
    background: white;
}

.composition {
    background: white;
    width: 21rem;
    height: 250px;
}

.name {
    display: flex;
    justify-content: space-between;
}

.name p {
    font-size: 25px;
}

.head {
    display: flex;
    justify-content: space-between;
} 

.profile img {
    height: 30px;
    border-radius: 100px;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-contains {
    display: flex;
    justify-content: space-between;
}

.profile-contains b, .profile-contains p {
    font-size: 14px;
    padding-left: 10px;
}

.profile-contains p {
    font-size: 10px;
    color: lightgray;
}

.ri-more-fill {

}

.more {
    border-radius: 10px;
    margin-top: 10px;
    background: rgb(243, 242, 242);
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav {
    display: flex;
    gap: 15px;
    padding-bottom: 40px;
    /* justify-content: space-between; */
    /* font-size: 20px; */
}

.below-calander {
    border-bottom: 1px dashed lightgray;
    margin-bottom: 40px;
}

.ri-dashboard-line, .ri-bar-chart-2-line, .ri-profile-line, .ri-briefcase-4-line, .ri-user-line, .ri-calendar-2-line, .ri-account-circle-line, .ri-settings-2-line {
    font-size: 20px; 
}

.navigate {
    padding-top: 50px;
}








